.hero {
  padding: 90px 0;
  background-color: var(--bg-color-light);
}

.hero__container {
  display: flex;
}

.hero__gallery {
  flex: 1 1 auto;
  max-width: 65.4rem;
}

.hero__info {
  flex: 1 1 auto;
}

.hero__button:first-child {
  margin-right: 3.1rem;
}

.hero__heading {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  margin: 0;
  color: var(--main-color-dark);
}

.hero__specs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 20px 0 37px 0;
}

.hero__specs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.hero__specs-icon {
  padding-top: 10px;
  padding-left: 10px;
}

.hero__specs-text {
  color: var(--main-color-dark-opaque);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.hero__price {
  position: relative;
}

.hero__current-price {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  color: var(--main-color-dark);
  margin-right: 30px;
  margin-bottom: 32px;
  display: inline-block;
}

.hero__old-price {
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  color: var(--main-color-dark-opaque);
  background-image: url("./line-through.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  white-space: nowrap;
}

.hero__line-through {
  position: absolute;
  right: -10px;
  top: 23px;
}

.hero__button {
  margin-bottom: 16px;
}
