.modal {
  max-width: 69.8rem;
  margin: 0 auto;
  background-color: #f5f5f9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  margin: 12px 0 24px 0;
  color: var(--main-color-dark);
}

.modal__close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.modal-overlay {
  z-index: 2;
}
