.star-rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.star-rating__star {
  height: 27px;
  width: 34px;
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

.star-rating__star--full {
  background-image: url(./star-on.svg);
}

.star-rating__star--empty {
  background-image: url(./star-off.svg);
}

.star-rating__caption {
  margin: 0;
  flex: 1 0 auto;
  margin-right: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
