.gallery__main-image {
  max-width: 60rem;
  height: 375px;
  margin: 0 5.4rem 3.9rem 0;
  display: block;
}

.gallery__thumbnails {
  display: flex;
  align-items: center;
  max-width: 60rem;
  justify-content: space-between;
}

.gallery__thumbnail {
  display: block;
  width: 128px;
  height: 80px;
}
