.gallery {
  padding-right: 5.4rem;
}

.gallery__main-image {
  width: 100%;
  height: auto;
  display: block;
}

.gallery__thumbnails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.9rem;
}

.gallery__thumbnail {
  display: block;
  width: 128px;
  height: 80px;
  margin: 0 2px;
}
