.contacts {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 98px;
}

.contacts__heading {
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 11px;
  color: var(--deep-dark);
}

.contacts__text {
  display: block;
  max-width: 27.4rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 24px;
  margin-right: 74px;
  text-decoration: none;
  color: var(--color-dark);
}

.contacts__map {
  flex: 0 1 43.1rem;
}
